<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">$320000</div>
        <div class="bottom">OverAll Expenses</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">$800000</div>
        <div class="bottom">Current Stock</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">$457842</div>
        <div class="bottom">Products Sold</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">$46928</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>